# cache
**/.mypy_cache/
**/.pytest_cache/
**/__pycache__/
.tox/

# build
**/*.egg-info/
**/dist/

# vscode
**/.devcontainer/
**/.vscode/launch.json
**/.vscode/settings.json

# coverage
*.coverage
**/htmlcov/

# one-time data
**/test_case/html

# config
.python-version

# docs
docs/_build

# playground
playground.py

# temp
**/temp/

# environment
.venv/

# test files
tests/**/*.html
